<style type="text/css">
.icon-go {
    background-image: url(JS/Myapp/Imagen/logoborde1.pngJS/Myapp/Imagen/logoborde1.png) !important;
}

.icon-back {
    background-image: url(JS/Myapp/Imagen/logoborde1.pngJS/Myapp/Imagen/logoborde1.pngJS/Myapp/Imagen/logoborde1.png) !important;
}

.icon-add {
    background-image: url(JS/Myapp/Imagen/logoborde1.png) !important;
}
</style>